<div class="large-3 large-centered columns">
    <div class="login-box">
        <div class="row">
            <div *ngIf="getUserInfo() == null" class="large-12 columns">
                <form>
                    <div class="row">
                        <div class="large-12 columns">
                            <input [(ngModel)]="userName" type="text" name="username" placeholder="Username" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <input [(ngModel)]="password" type="password" name="password" placeholder="Password" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 large-centered columns">
                            <input type="button" (click)="onLoginClick()" class="button expand" value="Log In" />
                        </div>
                    </div>
                </form>
            </div>
            <div *ngIf="getUserInfo()?.username != null" class="large-12 columns">
                <p> Hello {{ getUserInfo()?.username }} ! You don't need to Login</p>
                <a routerLink="/">Go back to home page</a>
            </div>
        </div>
    </div>
</div>